/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

















@font-face{ font-family: Deftone; src: url("../img/deftone-stylus.ttf")};


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #00adef;
}


.content {
	padding: 30px;
	font-family: sans-serif;
	width: 90%;
	max-width: 1000px;
	height: 3293px;
	margin: 30px auto;
	border-radius: 10px;
}



/* 2. Content ================================= */

header{
	text-align: center;

	h1{
		display: inline-block;
	    font-size: 21px;
	    line-height: 28px;
	    color: #38383a;
	    text-shadow: 0 0 1px #758890;
	    margin-top: 120px;
	    font-family: arial, verdana;
	    outline: none;
	    padding: 14px 153px;
	    position: relative;
	    text-transform: uppercase;

	    box-shadow: 
	        0 0 30px 0 rgba(0, 0, 0, 0.1), 
	        0 36px 0 -18px #00adef;
	}

	h1:before {
	    content: '';
	    position: absolute;
	    top: 18px;
	    left: -15%;
	    z-index: -1;
	    width: 130%;

	    height: 0;
	    border: 28px solid rgba(0, 0, 0, 0);
	    border-left: 28px solid #00adef;
	    border-right: 28px solid #00adef;

	}

	h1:after {
	    content: '';
	    width: 100%;
	    height: 0;
	    position: absolute;
	    top: 100%; left: 0;
	    z-index: -1;

	    border-top: 18px solid #99acb2;
	    border-left: 18px solid transparent;
	    border-right: 18px solid transparent;
	}

	h1, h1:before {
    
    background-image: 
        
        linear-gradient(
            transparent 8%, 
            rgba(0, 0, 0, 0.1) 8%, 
            rgba(0, 0, 0, 0.1) 14%, 
            transparent 14%, 
            transparent 86%, 
            rgba(0, 0, 0, 0.1) 86%, 
            rgba(0, 0, 0, 0.1) 92%, 
            transparent 92%
        ), 
        
        linear-gradient(
            rgba(255, 255, 255, 0.75), 
            rgba(255, 255, 255, 0) 
        ), 
        
        
        linear-gradient(white, white); 
	  
	}

	h1, h1:before, h1:after {
	    box-sizing: border-box;

	    background-origin: border-box;
	}


	
}
.beginning-left {
	display: inline-block;
	padding-top: 4%;
	margin-left: 28%;	

}




.beginning-right {
	display: inline-block;
	margin-left: 2%;

	.beginning-words{
	
	}

	h1 {
		color: white;
		font-size: 19px;
		text-transform: uppercase;
		line-height: 123%;
	}

	.sit-image {
		    width: 46%;
		    height: 29%;
		    margin-top: 17%;


		img {
			max-width: 100%;
			max-height: 100%;
			margin-bottom: 28%;
		}
	}
}

		  	



.intro{
	height: 1187px;

	.beginning-sideways {

		h2 {
			color: white;
			transform: rotateZ(-27deg);
			margin-left: 22%;
			font-size: 151%;
			margin-top: -5%;
		}

		.western {

			

			h3 {
				color: white;
				transform: rotateZ(-27deg);
				font-size: 400%;
				margin-top: 5%;
				margin-left: 21%;
			}

			h4 {
				color: white;
				transform: rotateZ(-27deg);
				font-size: 400%;
				margin-top: -3%;
				margin-left: 32%;

			}
		
		}

	}

	.yellow-arrow {
					  width: 0; 
					  height: 0; 
					  border-top: 155px solid transparent;
					  border-bottom: 395px solid transparent; 
					  border-right: 279px solid #fef200; 
					  float: right;
					  margin-top: -10%;
					  margin-right: 12%;
  
				}

	.yellow-word {
		width: 50px;
		right: 28%;
		top: 106%;
		line-height: 209%;
		position: absolute;


		h1 {
			float: right;
			color: #41403e;
			font-size: 1.7em;
			text-transform: uppercase;
			
		}
	}

	.plus-sign {
		width: 47px;
  		height: 50px;
  		right: 25%;
  		top: 94%;
  		position: absolute;
  		background: linear-gradient(to bottom, transparent 27%, #bcbdc1 27%, #bcbdc1 60%,  transparent 60%),
    	linear-gradient(to right, transparent 27%, #bcbdc1 27%, #bcbdc1 60%, transparent 60%);

	}
	.plus-sign2 {
		width: 50px;
  		height: 50px;
  		position: absolute;
  		right: 25%;
  		top: 94%;
  		background: linear-gradient(to bottom, transparent 35%, #feffff 35%, #feffff 65%,  transparent 65%),
    	linear-gradient(to right, transparent 35%, #feffff 35%, #feffff 65%, transparent 65%);

	}

	.crown-circle {
		margin-top: 23%;
		margin-left: 32%;

		img {
			width: 38%;
			height: auto;
		}
	}
}

		


.middle{
	height: 1164px;
	background: linear-gradient(45deg, rgba(0,173,239,1) 0%,rgba(0,173,239,1) 91%);

	h1 {
		font-size: 6.7em;
		color: #404042;
		text-transform: uppercase;
	}

	h2 {
		font-size: 4em;
		color: white;
		padding-left: 9%;
		font-family: Deftone;

	}

	h3 {
		color: #fef200;
		font-size: 7.9em;
		text-transform: uppercase;
		padding-left: 27%;

	}

	.information {

			h1 {
				text-transform: uppercase;
				font-size: 0.5em;
				color: white;
			}


			.facts {

				h4 {
					display: inline-block;
					color: white;
					font-size: 2em;
				}
				h3 {
					color: white;
					display: inline-block;
					font-size: 2em;
					padding-left: 0; 

				}
			}

			.line-separator{
				height:1px;
				width: 71%;
				margin-top: -4%;
				margin-right: 5%;
				background:#717171;
				border-bottom:4px solid white;
				float: right;
				display: inline-block;
				}
	
	.row-facts{
		display: inline-block;

		.number-facts {
			float: left;
			width: 200px;
			padding-top: 1%;


				h1 {
					font-size: 2.7em;
					color: #414141;
				}

				h2{
					text-transform: uppercase;
					font-family: Helvetica;
					font-size: 1.4em;
					padding-left: 0;
					line-height: 30px;
				}

				h3 {
					font-size: 1em;
					padding-left: 0;
					font-family: Impact;
					color: #414141;
				}

			}

			.circle-font {
				width: 14%;
				display: inline-block;
				float: left;

				img {
					padding-left: 20px;
					padding-right: 20px
				}
				
			}

			.Constipation-facts {
				padding-top: 1%;
				float: left;
				width: 61%;
				display: inline-block;

				h3 {
					font-size: 1em;
					padding-left: 0;
					color: #414141;
					padding-top: 1%;
					margin-top: -5%;
				
				}

				.facts-group1 {
					h1 {
						color: #414141;
						font-size: 2em;
					}

				}

				.facts-group2 {
					display: inline-block;

					h2 {
						text-transform: uppercase;
						font-size: 1.6em;
						padding-left: 0;
						font-family: Helvetica;
						float: left;
						line-height: 52px;

					}

					.girls {
						padding: 10px;
						float: left;
					}

					h5 {
						text-transform: uppercase;
						font-size: 1.6em;
						padding-left: 0;
						font-family: Helvetica;
						line-height: 52px;
						color: white;
						float: left;
					}

					.boys {
						padding: 10px;
						float: left;
					}
				}


			}


		}

		.line-separator2{
				height:1px;
				width: 96%;
				margin-top: 1%;
				margin-right: 5%;
				background:#717171;
				border-bottom:4px solid white;
				float: right;
				display: inline-block;
				}
	}

	.hemo {
		padding-top: 5%;

		h1 {

			color: #fef200;
			font-size: 2em;
			text-align: center;
			line-height: 120%;

		}
	}

	.circle-image{
		text-align: center;
		padding-top: 10%;

		
		h1 {
			font-size: 1.5em;
			padding-top: 15%;

		}

		p {
			color: white;
			display: inline-block;
			padding: 7%;
			font-size: 1.5em;

		}

		.circle-image1 {
			display: inline-block;
			text-align: center;

			img {
				
			}

			h1 {
				color: #fff301;

			}

		}
		.circle-image2 {
			text-align: center;
			display: inline-block;

			h1 {
				color: white;
			}
			
		}
	}
}

.end{
	height: 611px;
	background: linear-gradient(to bottom, rgba(34,196,242,1) 0%,rgba(2,149,216,1) 100%);

		img {
			padding-left: 10%;
			padding-top: 10%;
			width: 50%;
			height: auto;
		}


		.header-end {
			height: 10%;
			background-color: yellow;

			h1 {
				display: inline-block;
				height: 100%;
				text-transform: uppercase;
				font-size: 3em;
				
			}



				.proper {
					background-color: yellow;
					width: 34%;
					color: #404042;
					text-align: right;

				}

				.toiletp {
					background-color: #404042;
					width: 30%;
					color: white;
					text-align: center;
				}

				.posture {
					background-color: yellow;
					width: 34%;
					text-align: left;

				}

			}

		

		.end-words {
			color: white;
			display: inline-block;
			float: right;
			padding-right: 16%;
			padding-top: 11%;

		 h1 {
		 	text-transform: uppercase;
		 	line-height: 139%;
		 	text-align: center;
		 	font-size: 1.7em;
		 }
	}

}

footer{
	height: 242px;
	background-color: #f3f3f5;

	img{
		display: inherit;
		margin: 0 auto;
		padding-top: 40px;
		width: 43%;
		height: auto;
	}

	.website {
		text-transform: uppercase;
		color: #404042;
		font-size: 2em;
		text-align: center;
		padding-top: 7%;


		h1 {
			display: inline-block;
		}

		h2 {
			display: inline-block;
			color: #01aef0;
			

		}

		h3 {
			
			display: inline-block;
		}

	}
}









